/* Основные стили */
body {
    background-color: #f9f9f9; /* Светлый фон для всего сайта */
    color: #333; /* Темный цвет текста для лучшей читаемости */
    font-family: 'Sofadi One', sans-serif; /* Шрифт для всего сайта */
}

header {
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center; /* Центрирование заголовка */
}

nav {
    text-align: center; /* Центрирование навигации */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Горизонтальное расположение элементов списка */
    margin: 0 15px; /* Отступы между вкладками */
}

nav a {
    text-decoration: none;
}

/* Стили для заголовков разделов */
section h2 {
    font-size: 2em; /* Размер заголовка секции */
    text-align: center; /* Центрирование заголовка секции */
    margin: 40px 0; /* Увеличение отступа сверху и снизу */
}

/* Стили для карточек с блюдами */
.dish-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    background-color: white;
}

/* Остальные стили остаются без изменений... */

/* Адаптивность */
@media (max-width: 800px) {
   .dish-grid {
       grid-template-columns: repeat(2, 1fr); /* Изменение на две колонки */ 
   }
}

@media (max-width: 600px) {
   .dish-grid {
       grid-template-columns: repeat(1, 1fr); /* Изменение на одну колонку */ 
   }
}
