body {
    font-family: 'Sofadi One', sans-serif; /* Шрифт */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
}

/* Заголовки */
h1 {
    text-align: center; /* Центрирование заголовка */
    font-size: 36px; /* Размер шрифта заголовка */
    margin: 20px 0; /* Отступы сверху и снизу */
}

h2 {
    font-size: 24px; /* Размер шрифта подзаголовка */
    margin-top: 30px; /* Отступ сверху для подзаголовка */
}

/* Стили для навигации */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование навигации */
    margin-bottom: 20px; /* Отступ снизу навигации */
}

nav a {
    margin: 10px 15px; /* Отступы между ссылками */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #333; /* Цвет текста ссылок */
}

nav a.active {
    font-weight: bold; /* Выделение активной ссылки */
}

/* Основной контент */
main {
    padding: 20px; /* Внутренние отступы для основного контента */
}

/* Секции с блюдами */
.dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Распределение элементов по строкам */
}

.dish-item {
    background-color: #f9f9f9; /* Цвет фона для блока блюда */
    border-radius: 10px; /* Закругление углов блока блюда */
    padding: 15px; /* Внутренние отступы блока блюда */
    margin-bottom: 20px; /* Отступ снизу блока блюда */
    width: calc(30% - 20px); /* Ширина блока блюда с учетом отступов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блока блюда */
}

.dish-item img {
    width: 100%; /* Изображение растягивается на всю ширину блока */
    border-radius: 10px; /* Закругление углов изображения */
}

.dish-item p {
    margin: 10px 0; /* Отступы между параграфами в блоке блюда */
}

/* Кнопки "Добавить" */
button {
    background-color: #f1eee9; /* Цвет фона кнопки */
    border: none; /* Убираем рамку кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

button:hover {
    background-color: #e0d5d0; /* Цвет фона кнопки при наведении */
}

/* Футер */
footer {
    text-align: center; /* Центрирование текста в футере */
    padding: 20px 0; /* Внутренние отступы футера */
}

footer p {
    margin: 5px 0; /* Отступы между параграфами в футере */
}

/* Стили для ссылок в футере */
footer a {
    color: #007BFF; /* Цвет ссылок в футере */
}

footer a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении в футере */
}