/* Общие стили для всех экранов */
body {
    font-family: 'Sofadi One', sans-serif; /* Шрифт */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    background-color: #f4f4f4; /* Цвет фона страницы */
}

h1 {
    text-align: center; /* Центрирование заголовка */
    font-size: 36px; /* Размер шрифта заголовка */
    margin: 20px 0; /* Отступы сверху и снизу */
}

h2 {
    font-size: 28px; /* Размер шрифта подзаголовка */
    margin-top: 30px; /* Отступ сверху для подзаголовка */
    color: #ff9900; /* Оранжевый цвет текста */
}

/* Стили для навигации */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование навигации */
    margin-bottom: 20px; /* Отступ снизу навигации */
}

nav a {
    margin: 10px 15px; /* Отступы между ссылками */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #ef0d82; /* Цвет текста ссылок */
    padding: 10px 15px; /* Внутренние отступы для создания кнопочного эффекта */
    border-radius: 5px; /* Закругление углов */
}

/* Основной контент */
main {
    padding: 20px; /* Внутренние отступы для основного контента */
}

/* Стили для секции с блюдами */
.dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Распределение элементов по строкам */
}

/* Блок с блюдами (по умолчанию) */
.dish-item {
    background-color: #f9f9f9; /* Цвет фона для блока блюда */
    border-radius: 10px; /* Закругление углов блока блюда */
    padding: 15px; /* Внутренние отступы блока блюда */
    margin-bottom: 20px; /* Отступ снизу блока блюда */
    width: calc(30% - 20px); /* Ширина блока блюда с учетом отступов */
}

/* Адаптивные стили */

/* Для экранов шириной ≤800px */
@media (max-width: 800px) {
    .dish-item {
        width: calc(33.33% - 20px); /* Три колонки на экранах до 800px */
        text-align: center;
    }
}

/* Для экранов шириной ≤600px */
@media (max-width: 600px) {
    h2 {
        text-align: center; /* Центрирование заголовка раздела */
    }
    
    nav {
        flex-direction: column; /* Вертикальное направление элементов в навигации */
        align-items: center; /* Центрирование флекс-элементов по поперечной оси */
    }

    nav a {
        font-size: calc(16px + 4px); /* Увеличение шрифта для ссылок на 4px */
        margin-bottom: 10px;
    }

    .dish-item {
        width: calc(50% - 20px); /* Две колонки на экранах до 600px */
        text-align: center;
    }
}

/* Для экранов шириной ≤400px */
@media (max-width: 400px) {
    h1 {
        text-align: center; /* Центрирование главного заголовка страницы */
        font-size: 24px; /* Уменьшение размера шрифта главного заголовка, если необходимо */ 
    }

    .dish-item {
        width: calc(100% - 20px); /* Одна колонка на экранах до 400px */
        text-align: center;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    select,
    textarea,
    input[type='time'] {
        font-size: calc(14px - 2px); /* Уменьшение шрифта на 2px для текстовых полей и селектов */ 
        height: auto;
        padding: 8px;
        width: calc(100% - 16px);
        margin-bottom: 10px;
   }
}
